.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #e40c54;
    color: #fff;
  }
  
  .logo img {
    width: 100px;
  }

  .navbar {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .navbar p {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }